<div class="page-container {{ page ? 'lmk-next-page' : 'lmk-first-page' }}">
    {% for pageItem in data %}
        {% set cover =  pageItem.path ~ "/cover.jpg" %}
        {% set animalName =  api.getPathPart(pageItem.path, -1) %}
        {% set firstChar =  api.call("substr", animalName, 0, 1) %}
        <div class="card {{ loop.index % 2 ? "left" : "right"}}">
            <table class="card__table">
                <tr>
                    <td class="img"><img src="{{ cover }}" alt=""/></td>
                    <td class="text">
                        <div class="first-char" style="padding:25px;">{{ firstChar }}</div>
                        <div class="spacer8">&nbsp;</div>
                        <div class="second-line">wie</div>
                        <div class="spacer3">&nbsp;</div>
                        <div class="animal-name">{{ animalName }}</div>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>
